flows/personal_assistant/personal_assistant.json
{
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.text }}",
                "options": {
                    "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contentCreator: Use this tool to create blog posts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                1532,
                -180
            ],
            "id": "85d80abd-f2fd-4348-8de7-e741ca003307",
            "name": "Ultimate Assistant"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o",
                    "mode": "list",
                    "cachedResultName": "gpt-4o"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                1340,
                100
            ],
            "id": "e9db6754-0cb5-44b3-bddb-2324b6d2828e",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "cDISyTAOzA6TQdGi",
                    "name": "OpenAi personal"
                }
            }
        },
        {
            "parameters": {
                "name": "emailAgent",
                "description": "Call this tool for any email actions.",
                "workflowId": {
                    "__rl": true,
                    "value": "C3hLlOS4O6ZJtVFy",
                    "mode": "list",
                    "cachedResultName": "🤖Email Agent"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2,
            "position": [
                1600,
                200
            ],
            "id": "75ab66d9-b6db-4cdd-87ba-f2785e2b0b41",
            "name": "Email Agent"
        },
        {
            "parameters": {
                "name": "contentCreator",
                "description": "Call this tool to create blog posts.",
                "workflowId": {
                    "__rl": true,
                    "value": "WWSu94V939ATcqvi",
                    "mode": "list",
                    "cachedResultName": "🤖Content Creator Agent"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2,
            "position": [
                1760,
                200
            ],
            "id": "c94c73d1-7c7f-452d-a03c-398b815c5381",
            "name": "Content Creator Agent"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                1460,
                180
            ],
            "id": "58229358-a25f-4180-9c6c-b43a583f83ca",
            "name": "Window Buffer Memory"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolCalculator",
            "typeVersion": 1,
            "position": [
                2020,
                40
            ],
            "id": "d72dee56-bb0f-4235-8c8c-e328c89365ca",
            "name": "Calculator"
        },
        {
            "parameters": {
                "name": "calendarAgent",
                "description": "Call this tool for any calendar action.",
                "workflowId": {
                    "__rl": true,
                    "value": "0NtlJ41IozGhtFa6",
                    "mode": "list",
                    "cachedResultName": "🤖Calendar Agent"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2,
            "position": [
                1900,
                140
            ],
            "id": "1a524412-ab76-4f6d-b11d-29e77b66f52b",
            "name": "Calendar Agent"
        },
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "6157bc06-8afe-404e-8a1b-3657498c6f92",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                440,
                -180
            ],
            "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
            "credentials": {
                "telegramApi": {
                    "id": "FcV7IZWdZDJfO3M3",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
                            "name": "text",
                            "value": "={{ $json.message.text }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c475e5d8-f8ae-48b8-930f-36428ea4b587",
            "name": "Set 'Text'",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1100,
                -80
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.message.voice.file_id }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "exists",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Voice"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                                        "leftValue": "={{ $json.message.text }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "exists",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Text"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5e28199d-0bab-461a-9bab-8289a4bbcf01",
            "name": "Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                660,
                -180
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "={{ $json.output }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "id": "d4fecf1b-7e16-4e11-ad84-4cbba8f93072",
            "name": "Response",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                2120,
                -180
            ],
            "webhookId": "5dced4b9-5066-4036-a4d4-14fc07edd53c",
            "credentials": {
                "telegramApi": {
                    "id": "FcV7IZWdZDJfO3M3",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "resource": "file",
                "fileId": "={{ $json.message.voice.file_id }}"
            },
            "id": "823775ae-d66b-459c-96e3-1c848411a3ac",
            "name": "Download File",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                880,
                -280
            ],
            "webhookId": "83bb7385-33f6-4105-8294-1a91c0ebbee5",
            "credentials": {
                "telegramApi": {
                    "id": "FcV7IZWdZDJfO3M3",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "options": {}
            },
            "id": "c16c6226-ae46-4022-bf19-ba75cdc7ac72",
            "name": "Transcribe",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.6,
            "position": [
                1100,
                -280
            ],
            "credentials": {
                "openAiApi": {
                    "id": "cDISyTAOzA6TQdGi",
                    "name": "OpenAi personal"
                }
            }
        }
    ],
    "connections": {
        "Ultimate Assistant": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Email Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Content Creator Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculator": {
            "ai_tool": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Calendar Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set 'Text'": {
            "main": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "Download File",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Set 'Text'",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download File": {
            "main": [
                [
                    {
                        "node": "Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribe": {
            "main": [
                [
                    {
                        "node": "Ultimate Assistant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "9db6f740ec3407d10a945791c96c1908b9d7d99dc400ea95c24f023a760802c3"
    }
}